<configuration>
  <packageSources>
    <clear /> <!-- clear to make sure that everyone uses the same sources -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="webapinetcore" value="https://www.myget.org/F/webapinetcore/api/v3/index.json" />
  </packageSources>
</configuration>